virtual/
venv/
.DS_Store
parvmecinfo.txt
threed1.nfp4_QH
fort.9
surf_opt.png
input.nfp4_QH_opt
input.nfp4_QH_init
input.nfp4_QH_least_squares
input.nfp4_QH_optuna
surf_init.png
surf_least_squares.png
surf_optuna.png
threed1.nfp3_QI
__pycache__/
VMEC2000/
wout_nfp2_QA_000_000000.nc
surf_input.nfp4_QH_optuna.png
surf_input.nfp4_QH_init.png
wout_nfp2_QA_000_000001.nc
threed1.nfp2_QA
input.nfp2_QA_000_000001
input.nfp2_QA_000_000000
input.nfp2_QA_init
input.nfp2_QA_optuna
input.nfp3_QI_init
study_QA.db
study_QH.db
study_QI.db
surf_input.nfp2_QA_init.png
surf_input.nfp2_QA_optuna.png
surf_input.nfp3_QI_init.png
input.nfp4_QH_leastsquares
surf_input.nfp4_QH_leastsquares.png
wout_nfp3_QI_000_000000.nc
surf_input.nfp2_QA_leastsquares.png
input.nfp2_QA_leastsquares
input.nfp3_QI_000_000000
input.nfp3_QI_leastsquares
surf_input.nfp3_QI_leastsquares.png
surf_input.nfp3_QI_optuna.png
input.nfp3_QI_optuna
